<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../../../resources/lib/bootstrap.css" />
    <link rel="stylesheet" href="../../../resources/custom/css/style.css" />
</head>

<body>
    <!-- Header section -->
    <header class="container-fluid bg-light p-1">
        <div class="p-lg-5 py-5">
            <h1 class="text-primary text-center p-lg-3">Hi, Welcome to the Greenband Web App</h1>
            <p class="text-center mt-3 mt-md-0">Lets get you started!</p>
        </div>
    </header>

    <!-- Main content -->
    <section class="container-fluid container-xl p-lg-3 my-5">
        <div class="d-md-flex d-block justify-content-md-evenly mx-0">
            <!-- Super Admin -->
            <div class="w-100 my-3">
                <div class="card m-lg-3">
                    <header class="card-header border-0 bg-success py-5 px-4 m-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <div data-name="icon" class="d-inline-flex">
                                <div class="rounded bg-success-overlay p-2">
                                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M26.6878 15.632C25.6726 16.6502 24.3781 17.3443 22.9682 17.6262C21.5584 17.9082 20.0965 17.7655 18.7678 17.216L10.1118 27.648C8.5278 29.232 5.9678 29.232 4.3838 27.648C2.7998 26.064 2.7998 23.504 4.3838 21.936L14.8158 13.264C13.7278 10.624 14.2558 7.48801 16.3998 5.34401C18.4478 3.29601 21.3918 2.75201 23.9518 3.64801L19.3278 8.27201L23.8398 12.784L28.4158 8.19201C29.2638 10.72 28.7038 13.616 26.6878 15.632ZM6.0958 25.936C6.7358 26.56 7.7598 26.56 8.3838 25.936C9.0238 25.296 9.0238 24.272 8.3838 23.648C7.7598 23.008 6.7358 23.008 6.0958 23.648C5.79581 23.9532 5.62771 24.3641 5.62771 24.792C5.62771 25.22 5.79581 25.6308 6.0958 25.936Z"
                                            fill="white" />
                                    </svg>
                                </div>
                            </div>
                            <div data-name="heading">
                                <h6 class="text-end text-nowrap text-medium text-light">Super Admin</h6>
                            </div>
                        </div>
                    </header>
                    <div class="card-body px-2">
                        <ul class="list-group">
                            <li class="list-group-item border-top-0 border-start-0 border-end-0 rounded-0 py-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div data-name="module" class="d-inline-flex">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M2.75 8.75L6.25 12.25L13.25 4.75" stroke="black" stroke-width="1.5"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                        <h6 class="text-nowrap p-0 m-0 ms-2">Sys Admins</h6>
                                    </div>
                                    <div data-name="action">
                                        <small
                                            class="text-nowrap text-small text-secondary">Add/View/Edit/Delete</small>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item border-top-0 border-start-0 border-end-0 rounded-0 py-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div data-name="module" class="d-inline-flex">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M8.00003 8.9333L4.73337 12.2C4.61114 12.3222 4.45559 12.3833 4.2667 12.3833C4.07781 12.3833 3.92225 12.3222 3.80003 12.2C3.67781 12.0777 3.6167 11.9222 3.6167 11.7333C3.6167 11.5444 3.67781 11.3889 3.80003 11.2666L7.0667 7.99997L3.80003 4.7333C3.67781 4.61108 3.6167 4.45553 3.6167 4.26664C3.6167 4.07775 3.67781 3.92219 3.80003 3.79997C3.92225 3.67775 4.07781 3.61664 4.2667 3.61664C4.45559 3.61664 4.61114 3.67775 4.73337 3.79997L8.00003 7.06664L11.2667 3.79997C11.3889 3.67775 11.5445 3.61664 11.7334 3.61664C11.9223 3.61664 12.0778 3.67775 12.2 3.79997C12.3223 3.92219 12.3834 4.07775 12.3834 4.26664C12.3834 4.45553 12.3223 4.61108 12.2 4.7333L8.93337 7.99997L12.2 11.2666C12.3223 11.3889 12.3834 11.5444 12.3834 11.7333C12.3834 11.9222 12.3223 12.0777 12.2 12.2C12.0778 12.3222 11.9223 12.3833 11.7334 12.3833C11.5445 12.3833 11.3889 12.3222 11.2667 12.2L8.00003 8.9333Z"
                                                fill="#7F7184" />
                                        </svg>
                                        <h6 class="text-nowrap text-secondary p-0 m-0 ms-2">Users</h6>
                                    </div>
                                    <div data-name="action">
                                        <small
                                            class="text-nowrap text-small text-secondary">Add/View/Edit/Delete</small>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item border-top-0 border-start-0 border-end-0 rounded-0 py-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div data-name="module" class="d-inline-flex">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M8.00003 8.9333L4.73337 12.2C4.61114 12.3222 4.45559 12.3833 4.2667 12.3833C4.07781 12.3833 3.92225 12.3222 3.80003 12.2C3.67781 12.0777 3.6167 11.9222 3.6167 11.7333C3.6167 11.5444 3.67781 11.3889 3.80003 11.2666L7.0667 7.99997L3.80003 4.7333C3.67781 4.61108 3.6167 4.45553 3.6167 4.26664C3.6167 4.07775 3.67781 3.92219 3.80003 3.79997C3.92225 3.67775 4.07781 3.61664 4.2667 3.61664C4.45559 3.61664 4.61114 3.67775 4.73337 3.79997L8.00003 7.06664L11.2667 3.79997C11.3889 3.67775 11.5445 3.61664 11.7334 3.61664C11.9223 3.61664 12.0778 3.67775 12.2 3.79997C12.3223 3.92219 12.3834 4.07775 12.3834 4.26664C12.3834 4.45553 12.3223 4.61108 12.2 4.7333L8.93337 7.99997L12.2 11.2666C12.3223 11.3889 12.3834 11.5444 12.3834 11.7333C12.3834 11.9222 12.3223 12.0777 12.2 12.2C12.0778 12.3222 11.9223 12.3833 11.7334 12.3833C11.5445 12.3833 11.3889 12.3222 11.2667 12.2L8.00003 8.9333Z"
                                                fill="#7F7184" />
                                        </svg>
                                        <h6 class="text-nowrap text-secondary p-0 m-0 ms-2">Devices</h6>
                                    </div>
                                    <div data-name="action">
                                        <small
                                            class="text-nowrap text-small text-secondary">Add/View/Edit/Delete</small>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item border-top-0 border-start-0 border-end-0 rounded-0 py-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div data-name="module" class="d-inline-flex">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M2.75 8.75L6.25 12.25L13.25 4.75" stroke="black" stroke-width="1.5"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                        <h6 class="text-nowrap p-0 m-0 ms-2">Preliminaries</h6>
                                    </div>
                                    <div data-name="action">
                                        <small class="text-nowrap text-small text-secondary">View</small>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <footer class="card-footer bg-white border-0 px-0 m-3">
                        <a href="" class="btn btn-lg btn-success"> Take a tour
                            <svg width="24" height="24" viewBox="0 0 16 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.66683 8H13.3335M13.3335 8L9.3335 4M13.3335 8L9.3335 12" stroke="white"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </a>
                    </footer>
                </div>
            </div>
            <!-- Sysem Admin -->
            <div class="w-100 my-3">
                <div class="card m-lg-3">
                    <header class="card-header border-0 bg-primary py-5 px-4 m-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <div data-name="icon">
                                <div class="rounded bg-primary-overlay p-2">
                                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <mask id="mask0_17_45816" style="mask-type:luminance" maskUnits="userSpaceOnUse"
                                            x="2" y="2" width="28" height="28">
                                            <path
                                                d="M14.667 17.3333L20.987 7.33334C21.3737 7.56001 21.747 7.80001 22.0937 8.06668L25.4537 6.72001C25.667 6.64001 26.027 6.68001 26.1337 6.89334L28.8937 11.6667C29.027 11.8933 28.9737 12.2667 28.8003 12.4267L25.907 14.6667C25.9737 15.1067 26.0003 15.5467 26.0003 16L14.667 17.3333Z"
                                                fill="white" />
                                            <path
                                                d="M14.1788 15.512L25.9991 15.9852C25.9961 16.4334 25.9749 16.8768 25.9173 17.3103L28.7636 19.5468C28.9395 19.6916 29.0849 20.0233 28.9534 20.2224L26.1996 24.9993C26.07 25.2281 25.72 25.3686 25.4948 25.2985L22.1082 23.9128C21.7605 24.1905 21.3928 24.4336 21.0002 24.6602L14.1788 15.512Z"
                                                fill="white" />
                                            <path
                                                d="M15.5123 14.1787L21.0126 24.6519C20.6229 24.8735 20.2284 25.0768 19.8241 25.2437L19.3104 28.8268C19.273 29.0516 19.0584 29.3434 18.8203 29.3291L13.3064 29.3326C13.0435 29.3348 12.7468 29.1019 12.6949 28.8718L12.2017 25.2461C11.7873 25.0838 11.3929 24.8869 11.0003 24.6603L15.5123 14.1787Z"
                                                fill="white" />
                                            <path
                                                d="M17.3335 14.6667L11.0135 24.6667C10.6268 24.44 10.2535 24.2 9.90683 23.9334L6.54683 25.28C6.33349 25.36 5.97349 25.32 5.86683 25.1067L3.10683 20.3334C2.97349 20.1067 3.02683 19.7334 3.20016 19.5734L6.09349 17.3334C6.02683 16.8934 6.00016 16.4534 6.00016 16L17.3335 14.6667Z"
                                                fill="white" />
                                            <path
                                                d="M17.8217 16.488L6.00143 16.0148C6.00439 15.5666 6.02557 15.1232 6.08318 14.6897L3.23693 12.4532C3.06098 12.3084 2.91562 11.9767 3.04704 11.7776L5.80087 7.00072C5.9305 6.77191 6.28048 6.63143 6.50572 6.70154L9.89228 8.08724C10.24 7.80951 10.6077 7.56642 11.0003 7.33975L17.8217 16.488Z"
                                                fill="white" />
                                            <path
                                                d="M16.4882 17.8214L10.9879 7.3481C11.3776 7.12657 11.7721 6.92325 12.1763 6.75637L12.6901 3.17319C12.7275 2.94843 12.9421 2.65666 13.1802 2.67096L18.694 2.66739C18.957 2.66526 19.2537 2.89811 19.3056 3.12822L19.7988 6.75392C20.2132 6.91619 20.6076 7.11309 21.0002 7.33976L16.4882 17.8214Z"
                                                fill="white" />
                                            <path
                                                d="M16.0002 20.6667C18.5775 20.6667 20.6668 18.5773 20.6668 16C20.6668 13.4227 18.5775 11.3333 16.0002 11.3333C13.4228 11.3333 11.3335 13.4227 11.3335 16C11.3335 18.5773 13.4228 20.6667 16.0002 20.6667Z"
                                                fill="black" />
                                        </mask>
                                        <g mask="url(#mask0_17_45816)">
                                            <path d="M32 0H0V32H32V0Z" fill="#F2F2F2" />
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div data-name="heading">
                                <h6 class="text-end text-nowrap text-medium text-light">System Admin</h6>
                            </div>
                        </div>
                    </header>
                    <div class="card-body px-2">
                        <ul class="list-group">
                            <li class="list-group-item border-top-0 border-start-0 border-end-0 rounded-0 py-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div data-name="module" class="d-inline-flex">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M8.00003 8.9333L4.73337 12.2C4.61114 12.3222 4.45559 12.3833 4.2667 12.3833C4.07781 12.3833 3.92225 12.3222 3.80003 12.2C3.67781 12.0777 3.6167 11.9222 3.6167 11.7333C3.6167 11.5444 3.67781 11.3889 3.80003 11.2666L7.0667 7.99997L3.80003 4.7333C3.67781 4.61108 3.6167 4.45553 3.6167 4.26664C3.6167 4.07775 3.67781 3.92219 3.80003 3.79997C3.92225 3.67775 4.07781 3.61664 4.2667 3.61664C4.45559 3.61664 4.61114 3.67775 4.73337 3.79997L8.00003 7.06664L11.2667 3.79997C11.3889 3.67775 11.5445 3.61664 11.7334 3.61664C11.9223 3.61664 12.0778 3.67775 12.2 3.79997C12.3223 3.92219 12.3834 4.07775 12.3834 4.26664C12.3834 4.45553 12.3223 4.61108 12.2 4.7333L8.93337 7.99997L12.2 11.2666C12.3223 11.3889 12.3834 11.5444 12.3834 11.7333C12.3834 11.9222 12.3223 12.0777 12.2 12.2C12.0778 12.3222 11.9223 12.3833 11.7334 12.3833C11.5445 12.3833 11.3889 12.3222 11.2667 12.2L8.00003 8.9333Z"
                                                fill="#7F7184" />
                                        </svg>
                                        <h6 class="text-nowrap text-secondary p-0 m-0 ms-2">Sys Admins</h6>
                                    </div>
                                    <div data-name="action">
                                        <small
                                            class="text-nowrap text-small text-secondary">Add/View/Edit/Delete</small>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item border-top-0 border-start-0 border-end-0 rounded-0 py-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div data-name="module" class="d-inline-flex">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M2.75 8.75L6.25 12.25L13.25 4.75" stroke="black" stroke-width="1.5"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                        <h6 class="text-nowrap p-0 m-0 ms-2">Users</h6>
                                    </div>
                                    <div data-name="action">
                                        <small
                                            class="text-nowrap text-small text-secondary ms-3">Add/View/Edit/Delete</small>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item border-top-0 border-start-0 border-end-0 rounded-0 py-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div data-name="module" class="d-inline-flex">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M2.75 8.75L6.25 12.25L13.25 4.75" stroke="black" stroke-width="1.5"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                        <h6 class="text-nowrap p-0 m-0 ms-2">Devices</h6>
                                    </div>
                                    <div data-name="action">
                                        <small
                                            class="text-nowrap text-small text-secondary">Add/View/Edit/Delete</small>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item border-top-0 border-start-0 border-end-0 rounded-0 py-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div data-name="module" class="d-inline-flex">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M2.75 8.75L6.25 12.25L13.25 4.75" stroke="black" stroke-width="1.5"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                        <h6 class="text-nowrap p-0 m-0 ms-2">Preliminaries</h6>
                                    </div>
                                    <div data-name="action">
                                        <small class="text-nowrap text-small text-secondary">View</small>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <footer class="card-footer bg-white border-0 px-0 m-3">
                        <a href="/login" class="btn btn-lg btn-primary"> Take a tour
                            <svg width="24" height="24" viewBox="0 0 16 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.66683 8H13.3335M13.3335 8L9.3335 4M13.3335 8L9.3335 12" stroke="white"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </a>
                    </footer>
                </div>
            </div>
            <!-- Preliminaries -->
            <div class="w-100 my-3">
                <div class="card m-lg-3">
                    <header class="card-header border-0 bg-info py-5 px-4 m-3">
                        <div class="d-flex justify-content-between align-items-center ">
                            <div data-name="icon">
                                <div class="rounded bg-info-overlay p-2">
                                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M27.4219 8H20V0.578125L27.4219 8ZM28 10V32H2V0H18V10H28Z"
                                            fill="white" />
                                    </svg>
                                </div>
                            </div>
                            <div data-name="heading">
                                <h6 class="text-end text-nowrap text-medium text-light">Preliminaries</h6>
                            </div>
                        </div>
                    </header>
                    <div class="card-body px-2">
                        <ul class="list-group">
                            <li class="list-group-item border-top-0 border-start-0 border-end-0 rounded-0 py-3">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div data-name="module" class="d-inline-flex">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M2.75 8.75L6.25 12.25L13.25 4.75" stroke="black" stroke-width="1.5"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                        <h6 class="text-nowrap p-0 m-0 ms-2">400 Error Page</h6>
                                    </div>
                                    <div data-name="action">
                                        <small class="text-nowrap text-small text-secondary">View</small>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item border-top-0 border-start-0 border-end-0 rounded-0 py-3">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div data-name="module" class="d-inline-flex">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M2.75 8.75L6.25 12.25L13.25 4.75" stroke="black" stroke-width="1.5"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                        <h6 class="text-nowrap p-0 m-0 ms-2">403 Error Page</h6>
                                    </div>
                                    <div data-name="action">
                                        <small class="text-nowrap text-small text-secondary">View</small>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item border-top-0 border-start-0 border-end-0 rounded-0 py-3">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div data-name="module" class="d-inline-flex">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M2.75 8.75L6.25 12.25L13.25 4.75" stroke="black" stroke-width="1.5"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                        <h6 class="text-nowrap p-0 m-0 ms-2">404 Error Page</h6>
                                    </div>
                                    <div data-name="action">
                                        <small class="text-nowrap text-small text-secondary">View</small>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item border-top-0 border-start-0 border-end-0 rounded-0 py-3">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div data-name="module" class="d-inline-flex">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M2.75 8.75L6.25 12.25L13.25 4.75" stroke="black" stroke-width="1.5"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                        <h6 class="text-nowrap p-0 m-0 ms-2">500 Error Page</h6>
                                    </div>
                                    <div data-name="action">
                                        <small class="text-nowrap text-small text-secondary">View</small>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <footer class="card-footer bg-white border-0 px-0 m-3">
                        <a href="" class="btn btn-lg btn-info"> Take a tour
                            <svg width="24" height="24" viewBox="0 0 16 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.66683 8H13.3335M13.3335 8L9.3335 4M13.3335 8L9.3335 12" stroke="white"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </a>
                    </footer>
                </div>
            </div>
        </div>
    </section>
</body>

</html>