<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="stylesheet" href="../../../resources/lib/bootstrap.css" />
  <link rel="stylesheet" href="../../../resources/custom/css/style.css" />
  <script src="../../../resources/lib/bootstrap.js"></script>
</head>

<body>

  <div id="toast-wrapper"
    class="position-fixed top-0 start-50 translate-middle-x translate-md-none start-md-auto end-md-0 p-3"
    style="z-index: 9999;">
    <div id="alert-toast" class="toast text-white" role="alert" aria-live="assertive" aria-atomic="true"
      data-bs-delay="3000" data-bs-autohide="true">
      <div class="toast-body text-center p-3">
        Hello, world! This is a toast message.
      </div>
    </div>
  </div>

  <section id="loginFormContainer" class="container center-on-desktop-top-on-mobile">
    <div class="col-md-8 col-lg-6 col-xl-4 col-12">
      <div class="card shadow-sm">
        <div class="card-header bg-white border-bottom-radius-0 p-3">
          <h3 class="text-center p-4 text-nowrap">Greenband Web App</h3>
        </div>
        <div class="card-body p-4">
          <form method="POST" id="admin-login" data-label="login" enctype="multipart/form-data" class="needs-validation"
            novalidate>
            <div class="form-group my-4">
              <input type="email" class="form-control py-3" name="email" placeholder="Enter Email" />
              <div class="invalid-feedback mt-2">Email is required</div>
            </div>
            <div class="form-group my-4">
              <input type="password" class="form-control py-3" name="password" placeholder="Enter OTP" />
              <div class="invalid-feedback mt-2">OTP is required</div>
            </div>
            <button type="submit" class="btn btn-primary mt-1 mb-4 p-2 w-100">
              <span class="spinner spinner-border spinner-border-sm d-none" aria-hidden="true"></span>
              <span class="button-text">Login</span>
            </button>

            <div class="d-flex justify-content-center">
              <a class="mx-4 text-decoration-none text-secondary"><small>Help</small></a>
              <a class="mx-4 text-decoration-none text-secondary"><small>FAQ</small></a>
              <a class="mx-4 text-decoration-none text-secondary"><small>Policies</small></a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <script type="module" src="../../../resources/custom/js/forms.js"></script>
</body>

</html>