@import url(root.css);

body {
    background-color: var(--background-color);
    font-family: var(--font-family);
    font-size: var(--default-font-size) !important;
}


h3 {
    font-size: var(--sub-heading-font-size);
    font-family: var(--font-family-semi-bold);
}

input {
    font-size: var(--default-font-size) !important;
}

input:focus {
    border-color: var(--primary) !important;
    box-shadow: 0 0 0 0.25rem var(--primary-opaque) !important;
}

.center-on-desktop-top-on-mobile {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding-top: 3rem;
    /* top spacing for mobile */
}

.btn-primary {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}



.card,
.card-header {
    border-radius: var(--default-border-radius) !important;
}

.card-header {
    border-bottom-left-radius: 0rem !important;
    border-bottom-right-radius: 0rem !important;
}



@media (min-width: 768px) {
    .center-on-desktop-top-on-mobile {
        align-items: center;
        padding-top: 0rem;
        /* remove top spacing on desktop */
    }
}