@import url(root.css);

body {
    background-color: var(--background-color);
    font-family: var(--font-family-regular);
    font-size: var(--default-font-size) !important;
}

h1 {
    font-family: var(--font-family-semi-bold);
}

h3 {
    font-family: var(--font-family-semi-bold);
}

input,
select,
option {
    font-size: var(--default-font-size) !important;
    font-family: var(--font-family-regular) !important;
}

input:focus,
select:focus {
    border-color: var(--primary) !important;
    box-shadow: 0 0 0 0.25rem var(--primary-opaque) !important;
}

.text-regular {
    font-family: var(--font-family-regular) !important;
}


.text-medium {
    font-size: var(--medium-font-size);
    font-family: var(--font-family-medium);
}

.text-semibold {
    font-family: var(--font-family-semi-bold);
}

.text-small {
    font-size: var(--small-font-size);
}

.text-lg {
    font-size: var(--large-font-size);
}

.text-xlg {
    font-size: var(--extra-large-font-size);
}

.text-secondary {
    color: var(--secondary) !important;
}

.center-on-desktop-top-on-mobile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 7rem;
    /* top spacing for mobile */
}

/* Dark */
.text-dark {
    color: var(--dark) !important;
}

/* Light */

.bg-light {
    background-color: var(--primary-light) !important;
}

.btn-primary,
.bg-primary {
    background-color: var(--primary) !important;
}


/* Primary */

.btn-primary {
    border-color: var(--primary) !important;
}

.btn-primary:hover {
    background-color: var(--primary-dark) !important;
    border-color: var(--primary-dark) !important;
}

.bg-primary-overlay {
    background-color: var(--primary-overlay) !important;
}

.text-primary {
    color: var(--primary) !important;
}

/* Info */

.bg-info,
.btn-info {
    background-color: var(--info) !important;
}

.btn-info {
    border-color: var(--info) !important;
    color: var(--white) !important;
}

.btn-info:hover {
    background-color: var(--info-dark) !important;
    border-color: var(--info-dark) !important;
}

.bg-info-overlay {
    background-color: var(--info-overlay) !important;
}


/* Success */

.bg-success,
.btn-success {
    background-color: var(--success) !important;
}

.bg-success-overlay {
    background-color: var(--success-overlay) !important;
}

.btn-success {
    border-color: var(--success) !important;
}

.btn-success:hover {
    background-color: var(--success-dark) !important;
    border-color: var(--success-dark) !important;
}


.bg-secondary {
    background-color: var(--secondary) !important;
}

.bg-danger {
    background-color: var(--danger) !important;
    border-color: var(--danger) !important;
}


.dropdown {
    cursor: pointer;
}

.dropdown-item:active {
    background-color: var(--primary);
}

.modal-backdrop.show {
    background-color: var(--primary-translucent);
}


.form-check-input:checked {
    background-color: var(--primary);
    border-color: var(--primary);
}

.form-check-input:focus {
    box-shadow: 0 0 0 0.25rem var(--primary-opaque);
}


.form-check-input {
    background-color: var(--background-color);
    border: none;
}

th,
td {
    white-space: nowrap;
    padding-block: 1rem !important;
    padding-inline-end: 1rem !important;
}


.avatar {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar h1,
.avatar h2,
.avatar h3,
.avatar h4,
.avatar h5,
.avatar h6,
.avatar span,
.avatar p {
    padding: 0;
    margin: 0
}

.card,
.card-header {
    border-radius: var(--default-border-radius) !important;
}

.border-bottom-radius-0 {
    border-bottom-left-radius: 0rem !important;
    border-bottom-right-radius: 0rem !important;
}


#sidebar {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    transform: translateX(-100%);
    z-index: 600;
}

#sidebar.show {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}


.sidebar-backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 500;
}

/* Show backdrop */
.sidebar-backdrop.show {
    opacity: 1;
    visibility: visible;
}

.fade-out {
    opacity: 0;
}


.table-control svg {
    cursor: pointer;
}

.table-control svg path {
    fill: var(--secondary);
}


.table-control svg:hover path {
    fill: var(--primary) !important;
}

tbody {
    opacity: 1;
    transition: opacity 0.9s ease;
}

.delete,
.view,
.edit {
    cursor: pointer;
}

@media (max-width: 500px) {
    .text-lg {
        font-size: 30px !important;
    }

    .text-xlg {
        font-size: 80px !important;
    }
}


@media (min-width: 768px) {
    .center-on-desktop-top-on-mobile {
        align-items: center;
        padding-top: 0rem;
        min-height: 100vh;
        /* remove top spacing on desktop */
    }
}

@media (min-width: 1200px) {
    #sidebar {
        position: absolute;
        transform: none !important;
        opacity: 1 !important;
        visibility: visible;
        transition: none;
        box-shadow: none;
    }
}