<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Admin | Users</title>
    <link rel="stylesheet" href="../../../resources/lib/bootstrap.css" />
    <link rel="stylesheet" href="../../../resources/custom/css/style.css" />
    <script src="../../../resources/lib/bootstrap.js"></script>
</head>

<body>
    <!-- Toast -->
    @include("public/views/components/toast.html")


    <!-- Modal -->
    @include("public/views/components/modals.html")




    <!-- Sidebar -->
    @include("public/views/components/sidebar.html")
    <!-- Main content -->
    <main class="container-fluid d-flex justify-content-xl-end">
        <section class="col-xl-10 col-12 p-md-3 py-md-4 px-md-0 mt-md-1">
            <!-- Navbar -->
            @include("public/views/components/navbar.html")
            <!-- Content -->
            <section class="ms-xl-5 my-4">
                <!-- Breadcrumb -->
                <nav class="breadcrumb bg-white rounded">
                    <ol class="breadcrumb m-0 d-inline-flex align-items-center p-3 px-md-4">
                        <li class="breadcrumb-item">Dashboard</li>
                        <li class="breadcrumb-item active" aria-current="page"><a href="/super-admin/admins"
                                class="text-decoration-none text-secondary">System Admins</a></li>
                    </ol>
                </nav>

                <!-- Admins table -->
                <div class="card mt-4">
                    <div class="card-header border-bottom-radius-0 bg-white px-md-4">
                        <div
                            class="d-flex justify-content-md-between align-items-md-center py-md-3 flex-column flex-md-row">
                            <div>
                                <h5 class="text-nowrap text-semibold my-3 m-md-0">All system admins</h5>
                            </div>
                            <div class="my-3 my-md-0 d-flex align-items-center justify-content-end">
                                <div class="d-flex align-items-center">
                                    <input type="text" class="form-control me-3" placeholder="Search">

                                    <button class="btn btn-primary d-flex align-items-center" data-bs-toggle="modal"
                                        data-bs-target="#modal">
                                        <span class="text-nowrap">Add Admin</span>
                                        <svg width="20" height="20" viewBox="0 0 16 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M7.3335 8.66732H4.00017C3.81128 8.66732 3.65305 8.60332 3.5255 8.47532C3.39794 8.34732 3.33394 8.1891 3.3335 8.00065C3.33305 7.81221 3.39705 7.65399 3.5255 7.52599C3.65394 7.39799 3.81217 7.33399 4.00017 7.33399H7.3335V4.00065C7.3335 3.81176 7.3975 3.65354 7.5255 3.52599C7.6535 3.39843 7.81172 3.33443 8.00017 3.33399C8.18861 3.33354 8.34705 3.39754 8.4755 3.52599C8.60394 3.65443 8.66772 3.81265 8.66683 4.00065V7.33399H12.0002C12.1891 7.33399 12.3475 7.39799 12.4755 7.52599C12.6035 7.65399 12.6673 7.81221 12.6668 8.00065C12.6664 8.1891 12.6024 8.34754 12.4748 8.47599C12.3473 8.60443 12.1891 8.66821 12.0002 8.66732H8.66683V12.0007C8.66683 12.1895 8.60283 12.348 8.47483 12.476C8.34683 12.604 8.18861 12.6678 8.00017 12.6673C7.81172 12.6669 7.6535 12.6029 7.5255 12.4753C7.3975 12.3478 7.3335 12.1895 7.3335 12.0007V8.66732Z"
                                                fill="white" />
                                        </svg>

                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-md-4">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-nowrap">#</th>
                                        <th class="text-nowrap">Name</th>
                                        <th class="text-nowrap d-none d-sm-table-cell">Email</th>
                                        <th class="text-nowrap d-none d-md-table-cell">Role</th>
                                        <th class="text-nowrap d-none d-md-table-cell">Status</th>
                                        <th class="text-nowrap text-center d-none d-md-table-cell">Can Access</th>
                                        <th class="text-nowrap d-flex justify-content-end d-md-table-cell">Actions</th>
                                    </tr>
                                    <tr id="tableLazyLoading" class="d-none">
                                        <td colspan="6" class="border-0">
                                            <div class="d-flex justify-content-start align-items-center my-3">
                                                <span
                                                    class="spinner-border spinner-border-sm text-secondary me-2"></span>
                                                <h6 class="m-0 text-secondary">Loading table data...</h6>
                                            </div>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody id="adminsTable">
                                    <!-- Render table data to tbody -->
                                </tbody>

                                <tfoot>
                                    <tr>
                                        <td colspan="100%" class="border-0">
                                            <div class="d-flex justify-content-end me-lg-5 align-items-center">
                                                <div
                                                    class="col-12 col-lg-8 d-flex align-items-lg-center justify-content-between flex-column flex-lg-row">
                                                    <div class="form-group row align-items-center">
                                                        <label class="col-lg-7 col-6 text-secondary">Items per
                                                            page:</label>
                                                        <div class="col-lg-5 col-6">
                                                            <select id="tableLimit" class="form-select form-select-sm">
                                                                <option>1</option>
                                                                <option>2</option>
                                                                <option>3</option>
                                                                <option>4</option>
                                                                <option selected="selected">5</option>
                                                                <option>6</option>
                                                                <option>7</option>
                                                                <option>8</option>
                                                                <option>9</option>
                                                                <option>10</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="ms-lg-3 mt-3 mt-lg-0">
                                                        <h6 class="m-0"><span class="text-secondary">Showing:</span>
                                                            <span id="firstTableRow">1</span> -
                                                            <span id="lastTableRow">10</span> of
                                                            <span id="totalRows">100</span> admins
                                                        </h6>
                                                    </div>
                                                    <div
                                                        class="controls d-flex justify-content-between align-items-lg-center me-lg-4 mt-3 mt-lg-0">
                                                        <div id="backSkipArrow">
                                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M16 17C15.7348 16.9999 15.4805 16.8946 15.293 16.707L11.293 12.707C11.1055 12.5195 11.0002 12.2652 11.0002 12C11.0002 11.7348 11.1055 11.4805 11.293 11.293L15.293 7.293C15.4816 7.11084 15.7342 7.01005 15.9964 7.01233C16.2586 7.0146 16.5094 7.11977 16.6948 7.30518C16.8802 7.49059 16.9854 7.7414 16.9877 8.0036C16.99 8.2658 16.8892 8.5184 16.707 8.707L13.414 12L16.707 15.293C16.8468 15.4329 16.942 15.611 16.9806 15.805C17.0192 15.9989 16.9993 16.2 16.9237 16.3827C16.848 16.5654 16.7199 16.7215 16.5555 16.8314C16.391 16.9413 16.1978 17 16 17ZM8 17C7.73478 17 7.48043 16.8946 7.29289 16.7071C7.10536 16.5196 7 16.2652 7 16V8C7 7.73478 7.10536 7.48043 7.29289 7.29289C7.48043 7.10536 7.73478 7 8 7C8.26522 7 8.51957 7.10536 8.70711 7.29289C8.89464 7.48043 9 7.73478 9 8V16C9 16.2652 8.89464 16.5196 8.70711 16.7071C8.51957 16.8946 8.26522 17 8 17Z"
                                                                    fill="#7F7184" />
                                                            </svg>
                                                        </div>

                                                        <div id="backArrow">
                                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M10.0087 2.88052L4.71094 8.00052L10.0087 13.1205C10.1531 13.2596 10.3468 13.3356 10.5473 13.3319C10.7478 13.3281 10.9385 13.2449 11.0776 13.1005C11.2167 12.9561 11.2927 12.7624 11.289 12.5619C11.2852 12.3615 11.202 12.1707 11.0576 12.0316L6.88427 8.00052L11.0576 3.96497C11.202 3.82588 11.2852 3.63512 11.289 3.43467C11.2927 3.23421 11.2167 3.04048 11.0776 2.89608C10.9385 2.75168 10.7478 2.66846 10.5473 2.66471C10.3468 2.66096 10.1531 2.73699 10.0087 2.87608V2.88052Z"
                                                                    fill="#7F7184" />
                                                            </svg>
                                                        </div>

                                                        <div id="currentPage">
                                                            <span>1</span>
                                                        </div>

                                                        <div id="fowardArrow">
                                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M5.99128 2.88052L11.2891 8.00052L5.99128 13.1205C5.84689 13.2596 5.65315 13.3356 5.4527 13.3319C5.25224 13.3281 5.06149 13.2449 4.9224 13.1005C4.78331 12.9561 4.70727 12.7624 4.71102 12.5619C4.71477 12.3615 4.798 12.1707 4.9424 12.0316L9.11573 8.00052L4.9424 3.96497C4.798 3.82588 4.71477 3.63512 4.71102 3.43467C4.70727 3.23421 4.78331 3.04048 4.9224 2.89608C5.06149 2.75168 5.25224 2.66846 5.4527 2.66471C5.65315 2.66096 5.84689 2.73699 5.99128 2.87608V2.88052Z"
                                                                    fill="#7F7184" />
                                                            </svg>
                                                        </div>

                                                        <div id="forwardSkipArrow">
                                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M8 17C8.26519 16.9999 8.51951 16.8946 8.707 16.707L12.707 12.707C12.8945 12.5195 12.9998 12.2652 12.9998 12C12.9998 11.7348 12.8945 11.4805 12.707 11.293L8.707 7.293C8.5184 7.11084 8.2658 7.01005 8.0036 7.01233C7.7414 7.0146 7.49059 7.11977 7.30518 7.30518C7.11977 7.49059 7.0146 7.7414 7.01233 8.0036C7.01005 8.2658 7.11084 8.5184 7.293 8.707L10.586 12L7.293 15.293C7.15319 15.4329 7.05798 15.611 7.01942 15.805C6.98085 15.9989 7.00065 16.2 7.07632 16.3827C7.15199 16.5654 7.28013 16.7215 7.44454 16.8314C7.60895 16.9413 7.80225 17 8 17ZM16 17C16.2652 17 16.5196 16.8946 16.7071 16.7071C16.8946 16.5196 17 16.2652 17 16V8C17 7.73478 16.8946 7.48043 16.7071 7.29289C16.5196 7.10536 16.2652 7 16 7C15.7348 7 15.4804 7.10536 15.2929 7.29289C15.1054 7.48043 15 7.73478 15 8V16C15 16.2652 15.1054 16.5196 15.2929 16.7071C15.4804 16.8946 15.7348 17 16 17Z"
                                                                    fill="#7F7184" />
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

            </section>
        </section>
    </main>


    <script type="module" src="../../../resources/custom/js/globals/controls.js"></script>
    <script type="module" src="../../../resources/custom/js/spadmin/index.js"></script>
    <script type="module" src="../../../resources/custom/js/globals/forms.js"></script>


</body>

</html>