<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Admin | Users</title>
    <link rel="stylesheet" href="../../../resources/lib/bootstrap.css" />
    <link rel="stylesheet" href="../../../resources/custom/css/style.css" />
    <script src="../../../resources/lib/bootstrap.js"></script>
</head>

<body>
    <!-- Toast -->
    @include("public/views/components/toast.html")


    <!-- Modal -->
    @include("public/views/components/modals.html")




    <!-- Sidebar -->
    @include("public/views/components/sidebar.html")
    <!-- Main content -->
    <main class="container-fluid d-flex justify-content-xl-end">
        <section class="col-xl-10 col-12 p-md-3 py-md-4 px-md-0 mt-md-1">
            <!-- Navbar -->
            @include("public/views/components/navbar.html")
            <!-- Content -->
            <section class="ms-xl-5 my-4">
                <!-- Breadcrumb -->
                <nav class="breadcrumb bg-white rounded">
                    <ol class="breadcrumb m-0 d-inline-flex align-items-center p-3 px-md-4">
                        <li class="breadcrumb-item">Dashboard</li>
                        <li class="breadcrumb-item active" aria-current="page"><a href="/super-admin/admins"
                                class="text-decoration-none text-secondary">System Admins</a></li>
                    </ol>
                </nav>

                <!-- Admins table -->
                <div class="card mt-4">
                    <div class="card-header border-bottom-radius-0 bg-white px-md-4">
                        <div
                            class="d-flex justify-content-md-between align-items-md-center py-md-3 flex-column flex-md-row">
                            <div>
                                <h5 class="text-nowrap text-semibold my-3 m-md-0">All system admins</h5>
                            </div>
                            <div class="my-3 my-md-0 d-flex align-items-center justify-content-end">
                                <div class="d-flex align-items-center">
                                    @include("public/views/components/tsearch.html")
                                    <button class="btn btn-primary d-flex align-items-center" data-bs-toggle="modal"
                                        data-bs-target="#modal">
                                        <span class="text-nowrap">Add Admin</span>
                                        <svg width="20" height="20" viewBox="0 0 16 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M7.3335 8.66732H4.00017C3.81128 8.66732 3.65305 8.60332 3.5255 8.47532C3.39794 8.34732 3.33394 8.1891 3.3335 8.00065C3.33305 7.81221 3.39705 7.65399 3.5255 7.52599C3.65394 7.39799 3.81217 7.33399 4.00017 7.33399H7.3335V4.00065C7.3335 3.81176 7.3975 3.65354 7.5255 3.52599C7.6535 3.39843 7.81172 3.33443 8.00017 3.33399C8.18861 3.33354 8.34705 3.39754 8.4755 3.52599C8.60394 3.65443 8.66772 3.81265 8.66683 4.00065V7.33399H12.0002C12.1891 7.33399 12.3475 7.39799 12.4755 7.52599C12.6035 7.65399 12.6673 7.81221 12.6668 8.00065C12.6664 8.1891 12.6024 8.34754 12.4748 8.47599C12.3473 8.60443 12.1891 8.66821 12.0002 8.66732H8.66683V12.0007C8.66683 12.1895 8.60283 12.348 8.47483 12.476C8.34683 12.604 8.18861 12.6678 8.00017 12.6673C7.81172 12.6669 7.6535 12.6029 7.5255 12.4753C7.3975 12.3478 7.3335 12.1895 7.3335 12.0007V8.66732Z"
                                                fill="white" />
                                        </svg>

                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-md-4">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-nowrap">#</th>
                                        <th class="text-nowrap">Name</th>
                                        <th class="text-nowrap d-none d-sm-table-cell">Email</th>
                                        <th class="text-nowrap d-none d-md-table-cell">Role</th>
                                        <th class="text-nowrap d-none d-md-table-cell">Status</th>
                                        <th class="text-nowrap text-center d-none d-md-table-cell">Can Access</th>
                                        <th class="text-nowrap d-flex justify-content-end d-md-table-cell">Actions</th>
                                    </tr>
                                    @include("public/views/components/tablelazyload.html")
                                </thead>
                                <tbody id="adminsTable">
                                    <!-- Render table data to tbody -->
                                </tbody>

                                @include("public/views/components/tfoot.html")
                            </table>
                        </div>
                    </div>
                </div>

            </section>
        </section>
    </main>


    <script type="module" src="../../../resources/custom/js/globals/controls.js"></script>
    <script type="module" src="../../../resources/custom/js/spadmin/index.js"></script>
    <script type="module" src="../../../resources/custom/js/globals/forms.js"></script>


</body>

</html>